<h1>Bookmarks</h1>
<% @bookmarks.each do |bookmark| %>
<li class='bookmark'><a href='<%= bookmark.url %>'><%= bookmark.title %></a>
  <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
    <input type='submit' value='Update'>
  </form>
  <form action="/bookmarks/<%= bookmark.id %>" method="post">
    <input name='_method' type='hidden' value='DELETE'>
    <input type='submit' value='Delete'>
  </form>
</li>
<% end %>
